<div class="ui internally celled grid">
  <div class="row">
      <div class="header"> Welcome to Happy Patients </div>
      <div class="description"> We treat our patients very well! come to us! we are the best clinic around town! we love our patients! yes come to us! you know you want to! pick us! please! come here! </div>
  </div>
  <div class="row">
    <div class="header"> Contact information </div>
    <div class="description"> We are located at 1234 sesame street, wonderland MI, 12345. Our phone number is: 123-456-7890. We are open Mon - Fri 8:00 am to 5:00 pm</div>
  </div>
  <div class="row">
      <div class="ui styled fluid accordion">
         <div class="header"> Commonly asked questions </div>
        <div class="title">
          <i class="dropdown icon"></i>
          How many dentists do you guys have?
        </div>
        <div class="content active">
          <p > Three </p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          What kinds of dentists do you have?
        </div>
        <div class="content">
          <p > Good dentists and scary dentists. </p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          What insurances do you accept?
        </div>
        <div class="content">
          <p > We dont accept any insurances but we accept souls.</p>
        </div>
      </div>
  </div>
</div>
