.ui.grid {
    background-image: url("../../assets/images/about.jpg");
    background-size: cover;
    /*margin: -1rem;*/
    color: lightgreen;
}

.ui.grid>.row {
  padding-bottom: 20px;
  padding-left: 2rem;
  padding-right: 2rem;  
  text-shadow: 1px 1px darkslategray;
  font-size: 2rem;
  line-height: 3rem;
}

.ui.accordion .title:not(.ui) {
  color: lightgreen;
  font-size: 1.5rem;
}

.ui.center.aligned.header, .ui.centered.header {
  font-size: 4rem;
  padding: 2rem;
}

#mainHeader {
  color: lightgreen;
}

#secondHeader {
  color: lightgreen;
  font-size: 3rem;
}

#contactInfo {
  font-size: 1.5rem;
}