<h1 class="header">Hello, mr.Admin!</h1>
<h2>Coming up appointments:</h2>
<table class="ui fixed table">
  <thead>
    <tr>
      <th>Sun Jun 25</th>
      <th>Mon Jun 26</th>
      <th>Tue Jun 27</th>
      <th>Wed Jun 28</th>
      <th>Thr Jun 29</th>
      <th>Fri Jun 30</th>
      <th>Sat Jul 01</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><i class="icon checkmark"></i> John Smith: 10.00</td>
      <td><i class="icon checkmark"></i> Mike Brown: 10.00</td>
      <td><i class="icon checkmark"></i> Erin Kurz: 10.00</td>
      <td><i class="icon checkmark"></i> Neil Summers: 10.00</td>
      <td><i class="icon checkmark"></i> Alana Duval: 10.00</td>
      <td><i class="icon checkmark"></i> Sasha Grey: 10.00</td>
      <td></td>
    </tr>
    <tr>
      <td><i class="icon checkmark"></i> John Doe: 12.00</td>
      <td><i class="icon checkmark"></i> Liam Barker: 11.00</td>
      <td><i class="icon checkmark"></i> Saul Hope: 11.30</td>
      <td><i class="red icon call"></i> Danny Ward: 14.00</td>
      <td><i class="icon checkmark"></i> Henry Dord: 15.30</td>
      <td><i class="icon checkmark"></i> Karl Santana: 10.00</td>
      <td></td>
    </tr>
    <tr>
      <td><i class="icon checkmark"></i> John Doe: 10.00</td>
      <td><i class="icon checkmark"></i> Liam Barker: 10.00</td>
      <td><i class="icon checkmark"></i> Saul Hope: 10.00</td>
      <td><i class="icon checkmark"></i> Al Coholic: 10.00</td>
      <td><i class="red icon call"></i> Ben Clu: 12.00</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><i class="icon checkmark"></i> John Doe: 10.00</td>
      <td><i class="icon checkmark"></i> Liam Barker: 10.00</td>
      <td><i class="icon checkmark"></i> Saul Hope: 10.00</td>
      <td><i class="icon checkmark"></i> Alice Cooper: 10.00</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>