<div class="ui container">
<div class="ui three column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image" >
        <img src="../assets/images/DentistA.jpg" item-width="400" item-height="400">
      </div>
      <div class="content">
        <a class="header"> Dentist A </a>
        <a class="description"> Dentist A graduated from University of Michigan in 2010 and has done A....B...C...D. He has also make A...B...C...D. contributions to better the health of society. He is good dentist. </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="../assets/images/DentistB.jpg">
      </div>
      <div class="content">
        <a class="header"> Dentist B </a>
        <a class="description"> I am better than A </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="../assets/images/DentistC.jpg">
      </div>
      <div class="content">
        <a class="header"> Dentist C </a>
        <a class="description"> I am better than A and B </a>
      </div>
    </div>
  </div>
</div>
</div>

