.ui.grid {
    background-image: url("../../assets/images/bg_clinic.jpg");
    background-size: cover;
}

.ui.center.aligned.container {
    padding-top: 20px;
}

.ui.form {
    text-shadow: 2px 2px 2px black;
}

.ui.form>.field>label {
    color: white;
}

.ui.form>.ui.header {
    color: white;
    font-size: 2rem;
}

.ui.grid>.row>.column {
    padding-right: 4rem;
}