  <div class="ui three column grid">
    <div class="row">
    <div class="column">
      <div class="ui segment" hidden="true">
        <img>
      </div>
    </div>
    <div class="middle aligned column">
        <img class="ui middle aligned circular big image" src="../assets/images/doctor_wtf.jpg">
    </div>
    <div class="column">
        <form class="ui form">
          <h3 class="ui header">Make new appointment</h3>
          <div class="field">
            <label>First Name</label>
            <input type="text" name="first-name" placeholder="First Name">
          </div>
          <div class="field">
            <label>Last Name</label>
            <input type="text" name="last-name" placeholder="Last Name">
          </div>
          <div class="field">
            <label>Address</label>
            <input type="text" name="address" placeholder="Address">
          </div>
          <div class="field">
            <label>Email</label>
            <input type="text" name="email" placeholder="email@something.com">
          </div>
          <div class="field">
            <label>Phone</label>
            <input type="text" name="phone" placeholder="xxx">
          </div>
          <div class="fluid ui positive animated button" tabindex="0">
            <div class="visible content">Submit the information</div>
            <div class="hidden content">
              It will cost you tons of money<i class="right arrow icon"></i>
            </div>
          </div>
        </form>
    </div>
  </div>
  </div>
