.ui.grid>.row {
    background-image: url("../../assets/images/bg_clinic.jpg");
    background-size: cover;
    position: relative;
}

.ui.center.aligned.container {
    padding-top: 20px;
}

.ui.form>.field>label {
    color: white;
}

.ui.form>.ui.header {
    color: white;
}

.ui.grid>.row>.column {
    padding-right: 4rem;
}